masterviews = typeof(masterviews) !== 'undefined' ? masterviews : '' 
      
table#profiles
  tfoot
    page = (page) || 1
    s = (page > 1) ? null : 'display:none'
    td
     a#bck(href="#{(+page-1)}", style=s) &laquo;
     a#fwd(href="#{(+page+1)}") &raquo;
  thead
    tr
      th Name
      th Irc
      th Twitter
      th Github
      th Location
      th Description
      if typeof user !== 'undefined'
        th Action

  tbody   
    each profile, id in profiles
      tr(id=id)
        //- Express 2 
        != partial(masterviews + 'row', {collection: profile})
        //- Express 3
         each row in profile
          td= row
        mixin del(id)
mixin add
       
mixin adminScript  

