h1= title
p Welcome to #{title}

- var headers = ['Name', 'Irc', 'Twitter', 'Github', 'Location', 'Description'];

table#profiles
  tr
    each header in headers
      th= header
    each profile, id in profiles
      tr(id=id)
       //- Express 2 
       != partial('row', {collection: profile})
       //- Express 3
         each row in profile
          td= row
