if typeof(user) === 'undefined'
    add_mixin = function(){}
    del_mixin = function(){}
    adminScript_mixin = function(){}
    action_mixin = function(){}
    
masterviews = typeof(masterviews) !== 'undefined' ? masterviews : '' 
base = typeof(settings.basepath) !== 'undefined' ? settings.basepath : '' 
      
table#profiles
  tfoot
    page = (page) || 1
    s = (page > 1) ? null : 'display:none'
    td
     a#bck(href="#{base}/#{(+page-1)}", style=s) &laquo;
     a#fwd(href="#{base}/#{(+page+1)}") &raquo;
  thead
    tr
      th Name
      th Irc
      th Twitter
      th Github
      th Location
      th Description
      mixin action
  tbody   
    each profile, id in profiles
      tr(id=id)
        != partial(masterviews + 'row', {collection: profile})
        mixin del(id)
mixin add
       
mixin adminScript  

